.restaurant-container{
    height: 266px;
    //width: 238px;
    border-radius: 12px;
    cursor: pointer;

    img{
        height: 203px;
        width: 100%;
    }
    
    .lower-div{
        background-color: #FC8A06;
        h3{
            color: white;
            font-weight: 700;
            font-size: 18px;
        }
        padding-bottom: 8px;
        padding-left: 18px;
        padding-top: 18px;
        border-radius: 0px 0px 12px 12px;
    }
}