.poster-container{
    background-color: #FBFBFB;
    //height: 610px;
    //width: 100%;
    padding-left: 2rem;
    border-radius: 12px;
    display: flex;
    //align-items: center;
    height: 610px;
    //width: 1528px;
    border: 1px solid #00000033;
}

.poster-div-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 40%;
    p{
        color: #03081F;
        font-size: 16px;
    }
    .h1-black{
         color: #03081F;
        font-weight: 600;
    }
    .h1-orange{
         color: #FC8A06;
        font-weight: 600;
        margin-top: -5px;
    }
    .search-div{
        p{
            color: #03081F;
            font-size: 13px;
        }
        .form-control{
            border-radius: 120px;
        }
        .input-group-append{
            button{
                background-color: #FC8A06 ;
                border-radius: 120px;
                margin-left: -3rem;
                width: 188px;
                height: 57px;
                border: none;
                color: white;
                font-weight: 700;
            }    
        }

    }
    
}

 .poster-div-right{
    max-width: 60%;
    position: relative;
        .image-row{
            position: relative;
            display: flex;
            left: -12%;
            .img1{
            margin-bottom: 0px;
            z-index: 10;
            }
            .img2{
                height: 455px;
                width: 377px;
                z-index: 5;
                position: absolute;
               right: -12%;
                bottom: 0;
            }
            .orange-div{
            position: absolute;
            bottom: 0;
            right: -33%;
            background-color: #FC8A06;
            height: 565px;
            z-index: 1;
            //width: 626px;
            width: 60%;
            border-radius: 282.5px 0px 12px 0px;
        }

        }

        display: flex;
        align-items: end;
}