<div class="poster-container">

    <div class="poster-div-left">
        <p>Order Restaurant food, takeaway and groceries.</p>
        <h1 class="h1-black">Feast Your Senses,</h1>
        <h1 class="h1-orange">Fast and Fresh</h1>
        <div class="search-div">
            <p>Enter a postcode to see what we deliver</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="e.g. EC4R 3TE" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="poster-div-right">
        <div class="image-row">
            <img src="assets/images/poster-card-img1.png" class="img1">
            <img src="assets/images/poster-card-img2.png" class="img2">
             <div class="orange-div">
        </div>
        </div>
        
    </div>
</div>
