<div class="footer-container">
    <div class="top-div">
        <div class="div-col-1">
            <img src="assets/images/navbar-logo-img.png">
            <div class="div-icons">
                <img class="app-store-img" src="assets/images/app-store-icon-img.webp">
                <img src="assets/images/google-play-icon-img.png">
            </div>
            <p>Company # 490039-445, Registered with House of companies.</p>
        </div>
        <div class="div-col-2">
            <h6>Get Exclusive Deals in your Inbox</h6>
            <p>we wont spam, read our email policy</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="youremail@gmail.com" >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
            <div class="div-icons">
                <img src="assets/images/facebook-icon-img.png">
                <img src="assets/images/instagram-icon-img.png">
                <img src="assets/images/tiktok-icon-img.png">
                <img src="assets/images/snapchat-icon-img.png">
            </div>
        </div>
        <div class="div-col-3">
            <h6>Legal Pages</h6>
            <p>Terms and conditions</p>
            <p>Privacy</p>
            <p>Cookies</p>
            <p>Modern Slavery Statement</p>
        </div>
        <div class="div-col-4">
            <h6>Important Links</h6>
            <p>Get help</p>
            <p>Add your restaurant</p>
            <p>Sign up to deliver</p>
            <p>Create a business account</p>
        </div>
    </div>
    <div class="lower-div">
        <div class="div-left">
            <p>Order.uk Copyright 2024, All Rights Reserved</p>
        </div>
        <div class="div-right">
            <p>Privacy Policy </p>
            <p>Terms</p>
            <p>Pricing</p>
            <p>Do not sell or share my personal information</p>
        </div>
    </div>
</div>
