.deal-container{
  height: 325px;
  //width: 496px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  cursor: pointer;

  p{
    color: #FC8A06;
    font-size: 18px;
    font-weight: 500;
  }

  h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-top: -10px;
  }

  .lower-div{
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .percentage-div{
    background-color: #03081F;
    height: 66px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 20px;
    border-radius:  0px 0px 12px 12px;
    padding-top: 15px;
    p{
        color: white;
        font-size: 18px;
        font-weight: 700;
    }
  }
}