<div class="notification-bar-container">
    <div class="notification-bar-content">
        <div class="left-div">
            <div class="star-div"><p>🌟</p></div>
            <div class="promo-div"><p> Get 5% Off your first order,</p> <p class="promo-p"> Promo: ORDER5</p></div>
        </div>
        <div class="right-div">
            <div class="location-div">
                <img src="assets/images/location-icon-img.png">
                <p>Regent Street, A4, A4201, London</p>
                <p class="location-p">Change Location</p>
            </div>
            <div class="cart-div">
                <div class="icon-div"><img src="assets/images/cart-icon-img.png"></div>
                <div class="items-div">{{totalNumber()}} items</div>
                <div class="price-div">GPB {{totalPrice() | number: '1.0-2'}}</div>
                <div class="arrow-div" (click)="handleGoToCart()"><img src="assets/images/forward-icon-img.png"></div>
            </div>
        </div>
    </div>
</div>
